#harga{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#harga td, #harga th {
    border: 1px solid rgb(176, 231, 73);
    padding: 8px;
}

#harga th{
    background-color: blueviolet;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
}

#harga tr:nth-child(odd){
    background-color: rgb(156, 156, 156);

}
#harga tr:hover{
    background-color:rgb(255, 252, 67);
}